@model IEnumerable<ViewModelsDemo.ViewModels.EventViewModel>

@{
    var date = "" ;
}
@foreach(var item in Model)
{
    date =item.EventDate;
    break;
}

<a asp-action="Create"  class="btn btn-secondary">Create New</a>
<p class="display-4 text-center">@date</p>

    <table class="table table-bordered bg-info"> 
        <tr>
            <th>Event Name</th>
            <th>Location</th>
            <th>Event Type</th>
            <th>Speaker</th>
        </tr>

        @foreach(var item in Model)
    {
        <tr>
            <td>@item.Event.EventName</td>
            <td>@item.Event.Location</td>
            <td>@item.Event.EventType</td>
            <td>@item.Speaker</td>
        </tr>
    }


    </table>